.login-form {
  width: 800px;
  margin: 1rem auto 0;
  padding: 2rem;
}

.form-inputs {
  width: 100%;
  padding: 2rem 0 2rem;

  mat-form-field {
    width: 100%;
    margin-bottom: .5rem;
  }
}

.mat-mdc-form-field-infix {
  min-height: 1rem;
  padding: 0;
}

.fields-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.file-input {
  margin: 0;
  padding: 0;
  button {
    vertical-align: middle;
  }
}

// input[type="file"] {
//   max-width: 100%;
//   width: 80%;
//   margin-top: 0;
//   margin-right: 0.5rem;
//   padding: .5rem;
//   border: 1px solid #128ff2;
//   border-radius: .25rem;
//   font-size: 1.2rem;
// }

// input[type="file"]::file-selector-button {
//   margin-right: 2rem;
//   padding: 1rem;
//   outline: none;
//   border: none;
//   border-radius: 1rem;
//   border: 1px solid #128ff2;
//   background-color: transparent;
//   cursor: pointer;
// }

// input[type="file"]::file-selector-button:hover {
//   background-color: #a7d3f7;
// }

.btn-group {
  margin-top: 1.5rem;
  gap: 1rem;
  .btn-primary {
    margin-left: auto;
  }
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

mat-divider {
  margin-top: 1rem;
}

#fileInput {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}

.img-input {
  font-size: 1.5rem !important;
  text-overflow: ellipsis;
}

.img-btn {
  margin-left: 1rem;
}
