<section class="container sec-05 contacts active" id="contacts">
  <div class="contact-container">
    <div class="main-title">
      <h2>Contact <span>Me</span><span class="bg-text">ContactMe</span></h2>
    </div>
    <div class="contact-content-container">
      <div class="left-contact">
        <h4>Contact Me Here</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae delectus assumenda alias.
        </p>
        <div class="contact-info">
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa-solid fa-location-dot"></i>
              Location
            </div>
            <p>
              :&nbsp;Kiev, Ukraine.
            </p>
          </div>
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa-solid fa-envelope"></i>
              <span>Email</span>
            </div>
            <p>
              <a class="contact-link" href="mailto://victorsmirnov67@gmail.com" target="_blank">
                <span>:&nbsp;victorsmirnov67@gmail.com</span>
              </a>
            </p>
          </div>
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa-solid fa-globe"></i>
              <span>Website</span>
            </div>
            <p>
              <a class="contact-link" href="http://portfolio-dev.club" target="_blank">
                <span>:&nbsp;http://portfolio-dev.club</span>
              </a>
            </p>
          </div>
        </div>
        <div class="contact-icons">
          <div class="contact-icon">
            <a class="contact-link" href="https://github.com/Victorvs1967" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <div class="contact-icon">
            <a class="contact-link" href="https://www.linkedin.com" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
          <div class="contact-icon">
            <a class="contact-link" href="https://web.telegram.org" target="_blank">
              <i class="fa-brands fa-telegram"></i>
            </a>
          </div>
          <div class="contact-icon">
            <a class="contact-link" href="https://www.facebook.com" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="right-contact">
        <form action="" class="contact-form">
          <div class="input-control input-control-block">
            <input type="text" placeholder="Your name" required>
            <input type="text" placeholder="Your email" required>
          </div>
          <div class="input-control">
            <input type="text" placeholder="Your subject" required>
          </div>
          <div class="input-control">
            <textarea name="" id="" cols="15" rows="8" placeholder="Your message here..."></textarea>
          </div>
          <div class="submit-btn">
            <a href="#" class="main-btn">
              <span class="btn-text">Download CV</span>
              <span mat-icon-button class="btn-icon"><mat-icon>download</mat-icon></span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>