@use 'sass:map';
@use '@angular/material' as mat;

@use '../typography/config' as typography;
@use '../components';

$angular-theme-app-dark-primary: mat.define-palette(mat.$blue-gray-palette);
$angular-theme-app-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$angular-theme-app-dark-warn: mat.define-palette(mat.$deep-orange-palette);
$angular-theme-app-dark-success: mat.define-palette(mat.$light-green-palette);
$angular-theme-app-dark-info: mat.define-palette(mat.$light-blue-palette);
$angular-theme-app-dark-theme: mat.define-dark-theme((
  color: (
    primary: $angular-theme-app-dark-primary,
    accent: $angular-theme-app-dark-accent,
    warn: $angular-theme-app-dark-warn,
  ),
  
));

$angular-theme-app-dark-variants: (
  success: $angular-theme-app-dark-success,
  info: $angular-theme-app-dark-info
);

.dark-theme {
  @include mat.core-color($angular-theme-app-dark-theme);
  @include mat.toolbar-color($angular-theme-app-dark-theme);
  @include mat.card-color($angular-theme-app-dark-theme);
  @include mat.all-component-themes($angular-theme-app-dark-theme);
  @include mat.button-color($angular-theme-app-dark-theme);
  @include components.theme(
    $angular-theme-app-dark-theme,
    typography.$angular-theme-app-typography,
    $angular-theme-app-dark-variants
  );
}