@use 'sass:map';
@use '@angular/material' as mat;
@use '../typography/config' as typography;

$angular-theme-app-light-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$angular-theme-app-light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$angular-theme-app-light-warn: mat.m2-define-palette(mat.$m2-red-palette);
$angular-theme-app-light-success: mat.m2-define-palette(mat.$m2-green-palette);
$angular-theme-app-light-info: mat.m2-define-palette(mat.$m2-blue-palette);
$angular-theme-app-light-theme: mat.m2-define-light-theme((color: (
    primary: $angular-theme-app-light-primary,
    accent: $angular-theme-app-light-accent,
    warn: $angular-theme-app-light-warn,
  ),
  typography: typography.$angular-theme-app-typography,
));

$angular-theme-app-light-variants: (
  success: $angular-theme-app-light-success,
  info: $angular-theme-app-light-info
);
