@use 'sass:map';
@use '@angular/material' as mat;

$angular-theme-app-light-primary: mat.define-palette(mat.$indigo-palette);
$angular-theme-app-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-theme-app-light-warn: mat.define-palette(mat.$red-palette);
$angular-theme-app-light-success: mat.define-palette(mat.$green-palette);
$angular-theme-app-light-info: mat.define-palette(mat.$blue-palette);
$angular-theme-app-light-theme: mat.define-light-theme((
  color: (
    primary: $angular-theme-app-light-primary,
    accent: $angular-theme-app-light-accent,
    warn: $angular-theme-app-light-warn,
  ),
));

$angular-theme-app-light-variants: (
  success: $angular-theme-app-light-success,
  info: $angular-theme-app-light-info
);
