<section class="container sec-05 contacts" id="contacts">
  <div class="contact-container">
    <div class="main-title">
      <h2>Contact <span>Me</span><span class="bg-text">ContactMe</span></h2>
    </div>
    <div class="contact-content-container">
      <div class="left-contact" *ngIf="heroPage">
        <h4>{{ heroPage.title }}</h4>
        <p>{{ heroPage.description }}</p>
        <div class="contact-info">
          <div class="contact-item">
            <div class="contact-icon">
              <fa-icon [icon]="locationDot"></fa-icon>
              <span>Location:</span>
            </div>
            <p>{{ heroPage.payload.address }}</p>
          </div>
          <div class="contact-item">
            <div class="contact-icon">
              <fa-icon [icon]="envelope"></fa-icon>
              <span>Email:</span>
            </div>
            <p>
              <a class="contact-link" href="mailto://{{ heroPage.payload.email }}" target="_blank">
                <span>{{ heroPage.payload.email }}</span>
              </a>
            </p>
          </div>
          <div class="contact-item">
            <div class="contact-icon">
              <fa-icon [icon]="globe"></fa-icon>
              <span>Website:</span>
            </div>
            <p>
              <a class="contact-link" href="{{ heroPage.payload.web }}" target="_blank">
                <span>{{ heroPage.payload.web }}</span>
              </a>
            </p>
          </div>
        </div>
        <div class="contact-icons">
          <div class="contact-icon">
            <a class="contact-link" href="{{ heroPage.payload.github }}" target="_blank">
              <fa-icon [icon]="github"></fa-icon>
            </a>
          </div>
          <div class="contact-icon">
            <a class="contact-link" href="{{ heroPage.payload.linkedin }}" target="_blank">
              <fa-icon [icon]="linkedinIn"></fa-icon>
            </a>
          </div>
          <div class="contact-icon">
            <a class="contact-link" href="{{ heroPage.payload.telegram }}" target="_blank">
              <fa-icon [icon]="telegram"></fa-icon>
            </a>
          </div>
          <div class="contact-icon">
            <a class="contact-link" href="{{ heroPage.payload.facebook }}" target="_blank">
              <fa-icon [icon]="facebook"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="right-contact">
        <form action="" class="contact-form">
          <div class="input-control input-control-block">
            <input type="text" placeholder="Your name" required>
            <input type="text" placeholder="Your email" required>
          </div>
          <div class="input-control">
            <input type="text" placeholder="Your subject" required>
          </div>
          <div class="input-control">
            <textarea name="" id="" cols="15" rows="8" placeholder="Your message here..."></textarea>
          </div>
          <div class="submit-btn">
            <a href="#" class="main-btn">
              <span class="btn-text">Download CV</span>
              <span mat-icon-button class="btn-icon"><mat-icon>download</mat-icon></span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
