  <h2 mat-dialog-title>Add Image</h2>
  <button mat-icon-button class="btn-close" [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
  <mat-divider></mat-divider>
  <form class="image-form">
    <mat-form-field class="file-input">
      <input matInput style="display: none;">
      <input class="file-upload" type="file" (change)="selectFile($event)">
      <button mat-mini-fab color="primary" [mat-dialog-close]="false" [disabled]="!currentFile" (click)="upload($event)"><mat-icon>upload</mat-icon></button>
      <mat-hint *ngIf="data">Uploaded image ID: {{ data.id || 'No upload yet.' }}</mat-hint>
    </mat-form-field>
  </form>
