.container {
  height: 100vh;
}

.sidenav-content {
  margin: 1rem;
}

.card-content {
  margin: 1rem;
}

.nav-link {
  cursor: pointer;
}

.title {
  margin: 1rem;
  padding: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.mat-icon {
  margin-right: 0 !important;
}