<mat-toolbar color="primary">
  <div class="main-nav">
    <span class="brand-title" routerLink="/main">Victor's Portfolio</span>
  </div>
  <!-- Drop menu -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleDarkTheme()">
      <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
      <span>Theme</span>
    </button>    <button mat-menu-item routerLink="/auth/login" [disabled]="isLogin | async">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item routerLink="/alert" [disabled]="!(isLogin | async)">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
 </mat-menu>
</mat-toolbar>