<section class="container sec-04 blogs active" id="blogs">
  <div class="blogs-content">
    <div class="main-title">
      <h2><span>My </span>Blogs<span class="bg-text">MyBlogs</span></h2>
    </div>
    <div class="blogs-container">
      <div class="blog">
        <img src="/assets/image/blog1.jpg" alt="blog">
        <div class="blog-text">
          <h4>How To Create Your&nbsp;Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat numquam doloribus doloremque earum
            aliquam. Eius quasi odio vero sit sed?
          </p>
        </div>
      </div>
      <div class="blog">
        <img src="/assets/image/blog2.jpg" alt="blog">
        <div class="blog-text">
          <h4>Spring Boot Webflux for Backend</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat numquam doloribus doloremque earum
            aliquam. Eius quasi odio vero sit sed?
          </p>
        </div>
      </div>
      <div class="blog">
        <img src="/assets/image/blog3.jpg" alt="blog">
        <div class="blog-text">
          <h4>What Need to Fullstack Developer</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat numquam doloribus doloremque earum
            aliquam. Eius quasi odio vero sit sed?
          </p>
        </div>
      </div>
      <div class="blog">
        <img src="/assets/image/blog1.jpg" alt="blog">
        <div class="blog-text">
          <h4>How To Create Your&nbsp;Own Website</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat numquam doloribus doloremque earum
            aliquam. Eius quasi odio vero sit sed?
          </p>
        </div>
      </div>
      <div class="blog">
        <img src="/assets/image/blog2.jpg" alt="blog">
        <div class="blog-text">
          <h4>Spring Boot Webflux for Backend</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat numquam doloribus doloremque earum
            aliquam. Eius quasi odio vero sit sed?
          </p>
        </div>
      </div>
      <div class="blog">
        <img src="/assets/image/blog3.jpg" alt="blog">
        <div class="blog-text">
          <h4>What Need to Fullstack Developer</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat numquam doloribus doloremque earum
            aliquam. Eius quasi odio vero sit sed?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>