<mat-toolbar color="primary">
  <div class="main-nav">
    <button mat-icon-button (click)="taggledAction()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand-title" routerLink="/admin">Admin dashboard</span>
  </div>
  <div class="avatar">
    @if (file) {
      <div class="image-container"
        [ngStyle]="{'background-image': ' url(' + file  + ')'}">
      </div>
    } @else {
      <div class="image-container avatar-placeholder"></div>
    }
    @if (isUser && isUser.firstName) {
      <div class="user-info">
        <span class="user-name">{{isUser.firstName.concat(' ', isUser.lastName)}}</span>
        <span class="user-email">{{isUser.email}}</span>
      </div>
    }

    <!-- Drop menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleDarkTheme()">
        <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode'}}</mat-icon>
        <span>Theme</span>
      </button>
      @if (!(isLogin | async)) {
        <button mat-menu-item (click)="login()"><mat-icon>login</mat-icon><span>Login</span></button>
      }
      @if ((isLogin | async)) {
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon><span>Logout</span></button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
