<section class="container sec-02 about active" id="about">
  <div class="main-title">
    <h2>About <span>me</span><span class="bg-text">mystats</span></h2>
  </div>
  <div class="about-container">
    <div class="left-about">
      <h4>Information about&nbsp;me</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fuga dolorum non numquam illum ad cumque
        dolor, adipisci molestiae maiores eum incidunt architecto enim, totam dolore libero esse quas aspernatur
        voluptate voluptatum harum aut laborum? Nobis, totam molestias, molestiae repellendus quia quos unde debitis
        eaque quo soluta est et adipisci nemo quibusdam nam. Deserunt ipsum, aperiam debitis rerum, reiciendis facilis
        fuga ducimus excepturi veniam et optio mollitia, voluptatem ullam enim nihil architecto dolorem. Voluptatum
        nulla aliquam praesentium explicabo, blanditiis cupiditate.
      </p>
      <div class="btn-container">
        <a href="#" class="main-btn">
          <span class="btn-text">Download CV</span>
          <span mat-icon-button class="btn-icon"><mat-icon>download</mat-icon></span>
        </a>
      </div>
    </div>
    <div class="right-about">
      <div class="about-item">
        <div class="about-text">
          <p class="large-text">560+</p>
          <p class="small-text">Projects<br />completed</p>
        </div>
      </div>
      <div class="about-item">
        <div class="about-text">
          <p class="large-text">10+</p>
          <p class="small-text">Years<br />of experience</p>
        </div>
      </div>
      <div class="about-item">
        <div class="about-text">
          <p class="large-text">300+</p>
          <p class="small-text">Happy<br />clients</p>
        </div>
      </div>
      <div class="about-item">
        <div class="about-text">
          <p class="large-text">400+</p>
          <p class="small-text">Customer<br />reviews</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-stats">
    <h4 class="stats-title">My Skills</h4>
    <div class="progress-bars">
      <div class="progress-bar">
        <p class="progress-title">html5</p>
        <div class="progress-container">
          <p class="progress-text">90%</p>
          <div class="progress">
            <span class="html"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="progress-title">CSS3</p>
        <div class="progress-container">
          <p class="progress-text">95%</p>
          <div class="progress">
            <span class="css"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="progress-title">JavaScript</p>
        <div class="progress-container">
          <p class="progress-text">75%</p>
          <div class="progress">
            <span class="js"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="progress-title">Angular</p>
        <div class="progress-container">
          <p class="progress-text">75%</p>
          <div class="progress">
            <span class="angular"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="progress-title">Java</p>
        <div class="progress-container">
          <p class="progress-text">85%</p>
          <div class="progress">
            <span class="java"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="progress-title">python</p>
        <div class="progress-container">
          <p class="progress-text">80%</p>
          <div class="progress">
            <span class="python"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="timeline-duration">2013-2022</p>
      <h5>Project Manager<span> - MVHU</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia architecto voluptas. Eligendi labore
        odio dolorum, quod voluptas, adipisci quidem earum eum mollitia officiis vitae possimus ut nesciunt alias
        optio!
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="timeline-duration">2012-2013</p>
      <h5>CEO<span> - Magnat</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia architecto voluptas. Eligendi labore
        odio dolorum, quod voluptas, adipisci quidem earum eum mollitia officiis vitae possimus ut nesciunt alias
        optio!
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="timeline-duration">2010-2012</p>
      <h5>Chief of Quality Department<span> - Triada Print</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia architecto voluptas. Eligendi labore
        odio dolorum, quod voluptas, adipisci quidem earum eum mollitia officiis vitae possimus ut nesciunt alias
        optio!
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="timeline-duration">2009-2010</p>
      <h5>CEO<span> - Media Print</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia architecto voluptas. Eligendi labore
        odio dolorum, quod voluptas, adipisci quidem earum eum mollitia officiis vitae possimus ut nesciunt alias
        optio!
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="timeline-duration">1999-2010</p>
      <h5>CTO<span> - Waterpas Print</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia architecto voluptas. Eligendi labore
        odio dolorum, quod voluptas, adipisci quidem earum eum mollitia officiis vitae possimus ut nesciunt alias
        optio!
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon"><i class="fa-solid fa-briefcase"></i></div>
      <p class="timeline-duration">1993-1999</p>
      <h5>CTO<span> - Sobytie Publish</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia architecto voluptas. Eligendi labore
        odio dolorum, quod voluptas, adipisci quidem earum eum mollitia officiis vitae possimus ut nesciunt alias
        optio!
      </p>
    </div>
  </div>
</section>