<h2 mat-dialog-title>Edit Skill</h2>
<button mat-icon-button class="btn-close" [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
<mat-divider></mat-divider>

<form mat-dialog-content *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="submitSkill()">
  <div class="form-inputs">

      <mat-form-field appearance="outline">
        <mat-label>Skill name</mat-label>
        <input matInput placeholder="Enter skill name..." type="text" formControlName="name" required>
        <mat-hint>skill name</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter description..." type="text" formControlName="description" required>
        <mat-hint>description</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Percent</mat-label>
        <input matInput placeholder="Enter percent..." type="text" formControlName="percent">
        <mat-hint>percent</mat-hint>
      </mat-form-field>
  </div>

  <div mat-dialog-actions class="btn-group" [align]="'end'">
    <button mat-stroked-button color="primary" type="submit" [mat-dialog-close]="true" [disabled]="editForm.invalid">Submit</button>
  </div>

</form>
