<header class="container sec-01 header active" id="home">
  <div class="header-content">
    <div class="left-header">
      <div class="h-shape"></div>
      <div *ngIf="user" class="image" id="{{ user.photo.id }}" (mouseenter)="inHover()" (mouseout)="outHover()"></div>
    </div>
    <div class="right-header">
      <h1 class="name">
        Hi, I'm <span>Victor&nbsp;Smirnov</span><br>
        web&nbsp;developer
      </h1>
      <p>
        I'm a Web Developer, I love to create beatiful and functional websites.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iste autem nihil beatae aperiam id odio
        facere repellat voluptatibus, dolores rerum minus fuga tempora earum iusto, architecto totam, dolorem mollitia?
        Deserunt, possimus.
      </p>
      <div class="btn-container">
        <a href="#" class="main-btn">
          <span class="btn-text">Download CV</span>
          <span mat-icon-button class="btn-icon"><mat-icon>download</mat-icon></span>
        </a>
      </div>
    </div>
  </div>
</header>
