include ./includes/_head

body
  header.header
    .wrapper.container
      h1 About Me
      nav
        ul
          li
            a(href="#!") Home
          li
            a(href="#!") Portfolio
          li
            a(href="#!") Contact
  main.main
    section.container.head
      h2 Background
      p Hi, my name is [Your Name] and I am a full-stack web developer based in [Your Location]. I have been coding for [Number of Years] years and have a passion for creating dynamic and responsive web applications.
    section.container.skills
      h2 Skills
      ul
        li Front-end development with React, Angular, Vue.js
        li Back-end development with Node.js, Express.js, Ruby on Rails
        li Database design and management with MySQL, MongoDB, PostgreSQL
        li Version control with Git
        li Agile development methodologies
    section.container.ecperience
      h2 Experience
      ul
        li Developed and launched [Number of Projects] web applications using a variety of programming languages, frameworks, and libraries
        li Collaborated with cross-functional teams to ensure projects were delivered on-time and within budget
        li Continuously seek out new industry trends, frameworks, and libraries to stay up-to-date and innovative
  footer.footer
    .container
      small © 2023 Victor Smirnov. All rights reserved.