<section class="container sec-03 portfolio" id="portfolio">
  <div class="main-title">
    <h2>My <span>Portfolio</span><span class="bg-text">MyWorks</span></h2>
  </div>
  <p class="portfolio-text">
    {{ page?.description }}
  </p>
  <div class="portfolio-container">
    <div class="portfolios">
      <div class="portfolio-item" *ngFor="let project of projects;">
        <div class="image" id="{{ project.image.id }}"></div>
        <div class="hover-items">
          <h3>{{ project.name }}</h3>
          <div class="icons">
            <a class="icon" *ngIf="project.links.web" href="{{ project.links.web }}" target="_blank">
              <fa-icon [icon]="eye"></fa-icon>
            </a>
            <a class="icon" *ngIf="project.links.github" href="{{ project.links.github }}" target="_blank">
              <fa-icon [icon]="github"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
