.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .1);

  .login-form {
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 2rem;
    padding-bottom: 4rem;

    .mat-divider {
      margin-bottom: 1rem;
    }

    .form-inputs {
      width: 100%;

      mat-form-field {
        width: 100%;
        margin-bottom: .5rem;
      }
    }

    .fields-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

    }

    .file-input {
      margin: 0;
      padding: 0;
    }

    input[type="file"] {
      width: 80%;
      margin-top: 0;
      margin-right: 0.5rem;
      max-width: 100%;
      padding: .5rem;
      border: 1px solid #128ff2;
      border-radius: .25rem;
    }

    .btn-group {
      position: absolute;
      right: 2rem;
      bottom: -0.5rem;
    }

    .btn-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

  }

}
