<div class="container">
  <mat-card class="login-form">
    <button mat-icon-button class="btn-close" routerLink="/admin">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-title>Edit User Data</mat-card-title>
    <mat-divider inset></mat-divider>
    <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="submitEdit()">

      <mat-card-content class="form-inputs">
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter username..." type="text" formControlName="username" required>
          <mat-hint>username</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter email..." type="email" formControlName="email" required>
          <mat-hint>email</mat-hint>
        </mat-form-field>

        <div class="fields-group">
          <mat-form-field class="input-item" appearance="legacy">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Repeat first name..." type="text" formControlName="firstName">
            <mat-hint>firstname</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-item" appearance="legacy">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Enter lastname..." type="text" formControlName="lastName">
            <mat-hint>lastname</mat-hint>
          </mat-form-field>
        </div>

        <mat-form-field appearance="legacy">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Enter phone..." type="tel" formControlName="phone">
          <mat-hint>phone</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Enter address..." type="text" formControlName="address">
          <mat-hint>address</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>User role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="fields-group">
          <div class="file-field">
            <!-- <p class="file-label">Photo</p> -->
            <mat-form-field class="file-input" appearance="legacy">
              <input matInput style="display: none;">
              <input class="file-upload" type="file" (change)="selectPhoto($event)">
              <button mat-mini-fab color="primary" [disabled]="!currentPhoto" (click)="uploadPhoto($event)">
                <mat-icon>upload</mat-icon>
              </button>
              <mat-hint>Photo image ID: {{ photo.id || 'Photo upload yet.' }}</mat-hint>
            </mat-form-field>
          </div>
          <div class="file-field">
            <!-- <p class="file-label">Avatar</p> -->
            <mat-form-field class="file-input" appearance="legacy">
              <input matInput style="display: none;">
              <input class="file-upload" type="file" (change)="selectAvatar($event)">
              <button mat-mini-fab color="primary" [disabled]="!currentAvatar" (click)="uploadAvatar($event)">
                <mat-icon>upload</mat-icon>
              </button>
              <mat-hint>Avatar image ID: {{ avatar.id || 'Avatar upload yet.' }}</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="btn-group">
        <button mat-stroked-button color="primary" type="submit" [disabled]="editForm.invalid">Submit</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>